    /* root */
    
    * {
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    /*changing scroll bar color*/
    
    body::-webkit-scrollbar {
        width: 12px;
    }
    
    body::-webkit-scrollbar-track {
        background: #585353;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0);
        border-radius: 1px;
        border: 0.01px solid rgb(255, 255, 255);
    }
    /* nav bar */
    
    .nav-color {
        background-color: #333333;
        color: white;
    }
    
    .cart-icon {
        left: 100px;
    }
    
    .spacing-nav {
        margin-left: 20px;
        border-bottom: 2px solid #333333;
        overflow: hidden;
    }
    
    .spacing-nav:hover {
        border-bottom: 2px solid rgb(245, 212, 212);
        overflow: hidden;
    }
    
    .home-in-blue {
        color: #5073ED !important;
    }
    /* ########################################## */
    /* sign in */
    
    #sign-in {
        min-height: 100vh;
        min-width: 600px;
        width: 99vw;
        background: linear-gradient(246.09deg, #4475D5 32.18%, rgba(226, 97, 255, 0) 108.17%, rgba(61, 73, 111, 0) 123.44%);
        box-shadow: 0px 4px 8px rgba(27, 27, 27, 0.16);
    }
    
    .sign-heading {
        padding-top: 100px;
        font-weight: 800;
        font-size: 35px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .sign {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10vw;
    }
    
    .sign-form {
        width: 500px;
        height: 500px;
    }
    
    .sign-form-div {
        height: 450px;
        width: 400px;
        background: #FFFFFF;
        border-radius: 16px;
        margin-top: 82px;
    }
    
    .sign-in-heading-div {
        width: 400px;
        height: 48px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px 16px 0px 0px;
    }
    
    .sign-in-heading-div>h1 {
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        color: #060606;
    }
    
    .social-login {
        margin-top: 3px;
        width: 400px;
        height: 48px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .sign-butn {
        margin-left: 100px;
    }
    
    .green-forget {
        color: rgb(126, 165, 68);
    }
    
    .blue-forget {
        color: rgb(54, 74, 161);
    }
    /* ########################################### */
    /* footer */
    
    #footer {
        background: url(images/footerimg.png);
        min-height: 200px;
        width: 99vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .footer-div {
        color: white;
    }
    
    .copyright {
        padding: 40px;
    }
    
    .address {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .social-icons {
        padding: 40px;
        overflow: hidden;
    }
    
    .icon-space {
        padding: 10px;
    }
    
    .footer-div {
        padding-left: 10vw;
    }
    
    .icon-space:hover {
        transform: translateY(-4px);
    }
    /* ####################################### */
