/* root */

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/*changing scroll bar color*/

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #585353;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 1px;
    border: 0.01px solid rgb(255, 255, 255);
}


/* nav bar */

.nav-color {
    background-color: #333333;
    color: white;
}

.cart-icon {
    left: 100px;
}

.spacing-nav {
    margin-left: 20px;
    border-bottom: 2px solid #333333;
    overflow: hidden;
}

.spacing-nav:hover {
    border-bottom: 2px solid rgb(245, 212, 212);
    overflow: hidden;
}

.sign-in-green {
    color: #42E452 !important;
}

.home-in-blue {
    color: #5073ED !important;
}


/* ########################################## */


/* blog-div */

.blog-div {
    max-width: 80vw;
    width: 75vw;
    min-height: 100vh;
    padding: 30px;
}

.blog-head {
    margin-top: 70px;
    right: 0;
    top: 0;
    min-width: 100%;
    height: 300px;
    background-color: black;
}

.blog-sec-heading {
    padding-top: 30px;
    font-weight: 1000;
    font-size: 38px;
    line-height: 58px;
    text-align: center;
}

.small-h {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
}

.small-para {
    font-weight: 1800;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
}


/* ########################################### */


/* footer */

#footer {
    background: url(images/footerimg.png);
    min-height: 200px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer-div {
    color: white;
}

.copyright {
    padding: 40px;
}

.address {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.social-icons {
    padding: 40px;
    overflow: hidden;
}

.icon-space {
    padding: 10px;
}

.footer-div {
    padding-left: 10vw;
}

.icon-space:hover {
    transform: translateY(-4px);
}


/* ####################################### */
